<ul>
  <% @users.each do |user| %>
  <% avatarurl = ""
    if user.avatar_file_name.nil?
      avatarurl = "http://via.placeholder.com/100x100"
    else
      avatarurl = user.avatar.url(:thumb)
    end

   %>
  <li class="list-group-item">
    <%= image_tag avatarurl, class: "img-circle" %>
    <%= link_to user.login, user %>
    <button class="btn btn-primary follow" onclick="alert('Ne rabotaet, clickay po loginu')">Follow</button>
  </li>
  <% end %>
</ul>
