<div class="col-md-6 col-md-offset-3 text-center">
  <h1>Posts</h1>
  <% @posts.each do |post| %>

    <%= image_tag post.image(:large) %>
    <p> <%= post.description %> </p>
    <%= post.user_id %>

  <% end %>
</div>
